body{
  background: linear-gradient(#e9d3ce, #faf5f4);
}

  .landing-background {
  color: white;
  height: 100vh;
  /*background-color: #e9d3ce;*/
  margin: 0;
  padding: 0;
  text-align: center;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 60%;
    height: 500px;
    margin: 0;
}

.text-copy {
    fill: none;
    stroke: black;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: black;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: black;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: black;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: black;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: black;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}


input {
  font-family: 'Muli', sans-serif;
  height: 6vh;
  width: 22vh;
  font-size: 25px;
  /*border-radius: 5px;*/
  color: black;
  border-color: black;
  background-color:rgba(0, 0, 0, 0);
}

.button {
  font-weight: 200;
  margin: 10px;
}

.resume-background {
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: -0.5px;
  height: 170vh;
  /*background-color: #f1e3e0;*/
  margin: 0;
  padding: 40px 35vh;
  /*adjust padding for responsiveness*/
}

.resume-background-job{
  font-family: 'Muli', serif;
  font-weight: 500;
  margin-bottom: -10px;
}
.resume-background-job-description{
  margin-bottom: 40px;
}

.ASEE-items{
  margin: 1em;
}

.resume-download {
  margin-bottom: 20px;
}


.education-background{
  height: 50vh;
  /*background-color: #faf5f4;*/
  margin: 0;
  padding: 0;
}

.contact-background{
  height: 60vh;
  /*background-color: #605a59;*/
  margin: 0;
  padding: 0;
}

.portfolio-background{
  height: 100vh;
  /*background-color: #fcf9f9;*/
  margin: 0;
  padding: 0;
}

.button:hover {
  background-color: black;
  color: #e9d3ce;
}

hr {
  margin-top: 4rem;
  margin-bottom: 6rem;
  bottom: 10px;
  border-width: 0;
  border-top: 2px solid #000;
  width: 40px;
  text-align: left;
  margin-left: 0;
}

/*Education timeline*/


.timeline {
    white-space: nowrap;
    overflow-x: scroll;
    padding: 30px 0 10px 0;
    position: relative;
    width: 100%;
}

.entry {
    display: inline-block;
    vertical-align: top;
    background-color: #b5a8a6;
    color: black;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    position: relative;
    border-top: 4px solid black;
    border-radius: 2px;
    min-width: 100px;
    max-width: 500px;
    height: 100px;
}
.entry-desc {
 margin: 10px;
}

.entry img {
    display: block;
    max-width: none 100%;
    height: auto;
    margin-bottom: 10px;
}

.entry:after {
    content:'';
    display: block;
    background-color: black;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    border: 3px solid white;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -6px;
}

.entry:before {
    content:'';
    display: block;
    background: black;
    width: 5px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -2px;
}

.entry h1 {
    color: black;
    font-size: 18px;
    font-family: Georgia, serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.entry h2 {
    letter-spacing: .2em;
    margin-bottom: 10px;
    font-size: 14px;
}

.bar {
    height: 4px;
    background-color: black;
    width: 100%;
    position: relative;
    top: 13px;
    left: 0;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 20vh;
}

.education-background-title{
  text-align: center;
}

/**/

.education-background {
  font-family: 'Muli', sans-serif;
}
